.page { width:42em; margin: 0 auto; margin-top: 5em }

.zeropoint { z-index: 10; }
.viewport { height:500px; width:800px; overflow:hidden; border:1px #CCC solid; text-align:center; }

.working { text-align:center; margin-top:3em; }
.proof { display:inline-block; }
.proof table { width:100%; border-collapse:collapse; margin: auto; }
.proof td { padding:0; border:0; margin:0; text-align:center; }
.proof .sibling { display: inline-block; vertical-align:bottom; }
.proof .tagBox { font-size: 0.8em; color: #666; vertical-align: top; width: 2.1em; padding-left:0.3em; }
.proof .tagBox .tag { position:relative; top:-0.7em;}
.proof .inference { border-top: 1px solid #000; }
.proof .junct:hover { background: #DDF; cursor:pointer; }

/* hat tip http://petewilliams.info/blog/2010/04/display-html-olul-list-as-comma-separated-sentence/ */
.commaList { display: inline; list-style: none; margin: 0; padding: 0; }
.commaList li { display: inline; }
.commaList li:after { content: ','; }
.commaList li:last-child:after { content: ''; }

/* hat tip http://stackoverflow.com/questions/6040005/relatively-position-an-element-without-it-taking-up-space-in-document-flow */
.relMark {position:relative; width:0; height:0; display:inline;}
.offsetBox {position:absolute; z-index:1; top:1em; left:0;}
